body{
    background-image: linear-gradient(lightgrey, black);
    height: 1920px;
}
.naglowek{
    font-family: 'Anton', sans-serif;
    margin-top: 50px;
    font-size: 35px;
    text-align: center;
}
.tekst{
    font-family: 'Kumbh Sans', sans-serif;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    margin-left: 480px;
    margin-right: 480px;
    padding-top: 5px;
    padding-left: 100px;
    padding-right : 100px;
}
#zdj1{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 500px;
    margin-top: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    border: solid 2px black;
}
.naglowek1{
    font-family: 'Anton', sans-serif;
    margin-top: 300px;
    font-size: 35px;
    text-align: center;
}
.tekst1{
    font-family: 'Kumbh Sans', sans-serif;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    margin-left: 480px;
    margin-right: 480px;
    padding-top: 5px;
    padding-left: 100px;
    padding-right : 100px;
}
#zdj2{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 500px;
    margin-top: 800px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    border: solid 2px black;
}