<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Kumbh+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://images.ctfassets.net/hrltx12pl8hq/1TygllzQIoWakVyXcqqG3l/8933393059eb72767cb2a7a120e1a882/hero_image.png?fit=fill&w=800&h=300">
    <title>Strona</title>
</head>
<body>
    <div>
        <div>
            <h1 class="naglowek">Nagłówek1</h1>
        </div>
        <div>
            <div class="tekst">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque deserunt ducimus tempore doloribus beatae dicta consequatur atque laboriosam est inventore.
                <img src="../img/hero_image.png" alt="" id="zdj1">
            </div>
        </div>
        <div>
            <h1 class="naglowek1">Nagłówek2</h1>
        </div>
        <div>
            <div class="tekst1">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione sunt consectetur perferendis voluptates iusto enim, fugit laboriosam minus quos aperiam.
                <img src="../img/hero_image.png" alt="" id="zdj2">
            </div>
        </div>
    </div>
</body>
</html>