<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Kumbh+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="">
    <title>Strona</title>
</head>
<body>
    <div id="linie">
        <div>
            <h1 class="naglowek">Lorem ipsum dolor sit amet.</h1>
        </div>
        <div class="tekst">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione sunt consectetur perferendis voluptates iusto enim, fugit laboriosam minus quos aperiam.
        </div>
    </div>
</body>
</html>